pkgbase = crashplan-pro
	pkgdesc = A business online/offsite backup solution
	pkgver = 11.3.1
	pkgrel = 2
	url = https://www.crashplan.com/en-us/small-business/
	arch = x86_64
	license = custom
	makedepends = cpio
	depends = bash
	depends = java-runtime-headless=8
	depends = alsa-lib
	depends = gtk3
	depends = libxss
	depends = inetutils
	depends = slf4j
	conflicts = crashplan
	options = !strip
	source = https://download.crashplan.com/installs/agent/cloud/11.3.1/3/install/CrashPlanSmb_11.3.1_3_Linux.tgz
	source = crashplan-pro.service
	source = upgrade.sh
	source = crashplan-pro_upgrade.service
	source = crashplan-pro_upgrade.path
	source = unsupported-os.patch
	sha1sums = 3193707179b103bebbd7aeae9c6c0b81bc4179ef
	sha1sums = 194c2022af9809ba9a4694c747db01124c550ffb
	sha1sums = 8135b6e0fca07b5e3793faa8064ec480efda0063
	sha1sums = c24e2ba2b2d6831246ea4af072305ddf5d1fd774
	sha1sums = 0dfbf0ef3df2ad386419def132c28d63560f6e4e
	sha1sums = 2eaf643ec82bd49e4cca0e3d22fd176126ecb629

pkgname = crashplan-pro
